*{
    font-family: "Poppins";
    
}
body{
    background-color: #100c08;
    color: white;

}
.main{
    width: 90%;
    margin: auto;

}

nav{
    margin-top: -15px;
    display: flex;
    color: #fb9902;
    font-size: larger;

}
nav p{
    font-size: medium;
    margin: auto;
    margin-left: 33%;
}
nav button{
    
    width: 6%;
    height: 15%;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    margin-right: 0;
}
.inputall{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0px 3px 2px #808080 ;
    background-color: #1b1b1b ;
}
.inputall input{
    padding: 5px;
    margin: 5px;  
    border-radius: 3px;
    border: none;
    background-color: #e5e4e2;
    color: #777; 
    border: 1px solid #e5e4e2 ;
}
#title2do{
    width: 90%;
}
.inputall input::placeholder{
    padding: 2px;
}
.listall{
    width: 70%;
    margin: auto;
    border: 2px solid #ffb300;
    border-radius: 15px;
    border-top: none;
    border-left: none;
    background-color: #242124;
    box-shadow: 4px 5px 10px #ffc87c;  
}
ul{
    list-style:none;
}
ul li{
    width: 90%;
    padding: 2px;
    font-style: italic;
    font-weight: 500;
    display: flex;
    gap:10px;
    border-bottom: 2px solid wheat;
    
}
#addeve{
    background-color:#fb9902 ;
    border: 2px solid #ffa500;
    color: #faebd7;
    padding: 5px;
    font-weight: 600;

    &:hover{
        background-color: white;
        color: #242124;
        border: 2px solid white;
        transition-delay: 50ms;
    }
}
.material-symbols-outlined {
    padding: 5px;
    height: 5px;
    margin: auto;
    margin-top: 10px;
    margin-right: 0;
    
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}