<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2Do_Login</title>
    <link rel="stylesheet" href={% static "css/style1.css" %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mhead">
    <h1>2Do</h1>
    </div>
    <div class="form">  
            <div class="head2">
                <p class="head1">Log in with iD</p>
                <p>Enter your personal email address to continue.</p>
            </div>
            <div class="head2 ">
                <label for="email">Personal email address</label><br>
                <input type="email" name="email" id="">
                <label for="Password">Password</label><br>
                <input type="Password" name="email" id="">
            </div>
           
            <div>
                <input type="submit" name="submit" value="Login" id="submit">
            </div>
            
        </div>
        <div class="footer">
            <p>Copyright &copy; 2Do. All rights reserved</p>
        </div>
    </body>
</html>